h1 {
  margin: 0;
}
.wrapper_main {
  flex-direction: column;
}
.question_list {
  list-style-type: decimal;
}
.nav_icons {
  font-size: 1rem;
}
.options {
  padding: 0;
  list-style-type: none;
  margin: 1.5rem 0;
}
.options li {
  padding: 0.5rem 0;
}
.option > .btn {
  font-size: 1rem;
  width: 80%;
  cursor: pointer;
  justify-content: space-between;
  align-items: baseline;
}
.option > .btn-option {
  opacity: 1;
}
.option > .btn-option:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  will-change: background-color;
}
.check {
  font-size: 1rem;
  color: var(--success-li);
}
.wrapper_submit > .btn_submit {
  font-size: 1rem;
}

/* modal  */

.modal > .modal_box {
  padding: 1rem;
}
.wrapper_cta_button {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 1rem;
}

.wrapper_cta_button > a > button,
.wrapper_cta_button > button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.wrapper_title {
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: baseline;
}
